#main-container {
    margin-top: 10vh;
}

#brief-panel-container {

}

#content-panel-container {

}

.panel-content {
    background-color: #eee;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

#container-row {
    margin-top: -4em;
}

#content-panel-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 100;
    height: 78.5vh;
    margin-right: -1rem;
    padding-right: 1rem;
}

#palette-line-wrapper {
    height: 3pt;
}

.palette-swatch {
    height: 100%;
    flex-grow: 1;
}