.color-panel-1 {
    background-color: #fff;
}

.color-panel-2 {
    background-color: #eee;
}

.color-panel-3 {
    background-color: #ddd;
}

.color-panel-4 {
    background-color: #ccc;
}

.color-background-accent {
    background-color: #1c78cf;
    color: #fff;
    stroke: #fff;
}

.color-text-accent {
    color: #1c78cf;
    stroke: #1c78cf;
}

.color-text-transparent-1 {
    color: rgba(24,24,24,0.6);
    stroke: rgba(24,24,24,0.6);
}

.color-text-transparent-2 {
    color: rgba(24,24,24,0.1);
    stroke: rgba(24,24,24,0.1);
}