.quote-header {
    margin-top: 0.5em;
    border-left: none;
    text-align: center;
    font-size: 16pt;
}

.quote-subtext {
    font-size: 10pt;
}

.quote-separator {
    margin-bottom: 0;
}

.page-content {

}

.page-content h1 {
    font-size: 20pt;
}

.embed-image {
    border-radius: 1rem;
}

.float-left {
    float: left;
    margin-right: 1rem;
}

.float-right {
    float: right;
    margin-left: 1rem;
}

.stat-item-endcap {
    border-radius: 0 50% 50% 0;
}

.title-no-margin {
   margin-top: -0.25rem !important;
}