#menu-bar {
    text-align: center;
    border-bottom: 2px #ddd solid;
}

.menu-item {
    border-style: solid;
    border-color: #ddd;
    border-width: 0 1px 0 1px;
}

#tabbed-content-wrapper {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-right: -1rem;
    padding-right: 1rem;
    scrollbar-width: 1rem;
}